{{#if (isAdmin user) }}
  {{> admin-menu active="dashboard"}}
{{else}}
  {{> menu active="dashboard"}}
{{/if}}
<section class="section">
  <p>{{fortune}}</p>
  {{> add-poi}}
  {{> list-pois}}
</section>