{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in...</h>
  </div>
  <div class="column" style="margin-top: 100px;">
    <img src="/images/cloud-img.png">
  </div>
</div>
