<h1 class="title">Analytics</h1>
<div class="container">
  <div class="columns">
    <div class="column">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Users
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{analytics.userCount}} users served.
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Places
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{analytics.placeCount}} places recorded.
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Pois
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{analytics.poiCount}} pois created.
          </div>
        </div>
      </div>
    </div>
  </div>