<form action="/dashboard/editpoi/{{_id}}" method="POST">
  <div class="field">
    <label class="label">
      Poi Name
      <input class="input" type="text" placeholder="Enter poi name" name="name" value="{{name}}">
    </label>

  </div>
  <button class="button is-link">Update Poi</button>
</form>